.more__user__info {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

.user__component__subtitle__more i {
  color: tomato;
}

.more-icon-row {
  margin: 0 15px;
  margin-top: 30px;
}

.more_cog {
  position: relative;
}

.point__more {
  position: absolute;
  right: 363px;
  top: 185px;
  height: 7px;
  width: 7px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--border);
  margin: 0 25px;
  padding-top: 30px;
}

.more-suggestions__title {
  padding-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 20%;
  background-color: var(--yellow);
  margin-bottom: 5px;
}
.more-suggestions__icon-image i {
  font-size: 27px;
  color: white;
}

.more-suggestions__icon-text {
  text-align: center;
}
