.alt-screen-header {
  display: flex;
  justify-content: center;
  padding: 10px 3px;
  margin: 7px 0;
}

.alt-screen-header__column {
  width: 30%;
}
.alt-screen-header__column:first-child {
  display: flex;
  align-items: center;
}
.alt-screen-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alt-screen-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.alt-screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.alt-screen-header__icons span {
  font-size: 20px;
}

.alt-screen-header__column span:last-child {
  margin-left: 15px;
}
