.chats-screen {
  padding: 0px var(--horizontal-space);
}
.chats__board__link {
  display: flex;
  justify-content: space-between;
}
.chats__board__link_2 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
